In [31]:
### Initial Setup: DO NOT RUN THIS CELL
## Terminals (order): michael, riley, kensho
#Test
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../..')))

from require import require

import pandas as pd
import numpy as np
import sklearn as sk
import pyarrow as pa
import gdown
from IPython.display import display, HTML

data = {
    'bank': "1dzL_SWBkBs5xrUxuGQTm04oe3USgkL9u",    # banking data
    'sales': "1QK-VgSU3AxXUw330KjYFUj8S9hzKJsG6",   # sales data
    'mcc': "1JN0bR84sgZ_o4wjKPBUmz45NeEEkVgt7",     # mcc description
}

# Download all files from Google Drive
for name, file_id in data.items():
    gdown.download(f'https://drive.google.com/uc?id={file_id}', name + '.parquet', quiet=False)
    
# Read all files and store on a dictionary of pandas dataframes
df = {}
for name in data.keys():
    df[name] = pd.read_parquet(name + '.parquet')
    
# Set pandas option to display all columns
pd.set_option('display.max_columns', None)

# Custom CSS to enable horizontal scrolling
scrolling_css = """
<style>
    .dataframe-div {
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
"""

Downloading...
From: https://drive.google.com/uc?id=1dzL_SWBkBs5xrUxuGQTm04oe3USgkL9u
To: /Users/riley/VSCode/HackBRASA/backend/bank.parquet
100%|██████████| 1.57M/1.57M [00:00<00:00, 10.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1QK-VgSU3AxXUw330KjYFUj8S9hzKJsG6
To: /Users/riley/VSCode/HackBRASA/backend/sales.parquet
100%|██████████| 6.37M/6.37M [00:00<00:00, 19.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1JN0bR84sgZ_o4wjKPBUmz45NeEEkVgt7
To: /Users/riley/VSCode/HackBRASA/backend/mcc.parquet
100%|██████████| 57.3k/57.3k [00:00<00:00, 1.79MB/s]

In [ ]:
git push -u origin main

In [ ]:
git push -u origin main

In [36]:
# Useful Functions
def display_head_with_scroll(df, num_rows=5):
    """
    Display a DataFrame with horizontal scrolling enabled.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to display.
    num_rows (int): The number of rows to display. Default is 5.
    """
    display(HTML(scrolling_css + df.head(num_rows).to_html(classes='dataframe-div')))

In [44]:
display_head_with_scroll(df['sales'])

In [45]:
display_head_with_scroll(df['bank'])

In [46]:
#1 See if sales and bank dataframes share any id's

# Check if there are any shared IDs
shared_ids = df['sales']['document_id'].isin(df['bank']['document_id'])
# Get the actual shared IDs
shared_ids_list = df['sales'][df['sales']['document_id'].isin(df['bank']['document_id'])]['document_id'].unique()

len(shared_ids_list)

#print("Shared IDs:", shared_ids_list)

#2 Perform a left join of the MCC dictionary into sales dataframe on shared column 'mcc'


# Perform a left join of the MCC dictionary (mcc_df) into sales_df on the 'mcc' column
sales_with_mcc_df = pd.merge(df['sales'], df['mcc'], on='mcc', how='left')

# Display the resulting DataFrame
#print(sales_with_mcc_df.head())merged_df = pd.merge(df['mcc'], df['sales'], on="mcc", how="left")

82